@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  --color-primary-bg: #1A2533;
  --color-secondary-bg: #121212;
  --color-off-white: #FFFFFF;
  --color-soft-amber: #FFD2A0;
}

@layer base {
  body {
    background-color: var(--color-primary-bg);
    color: var(--color-off-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    font-family: var(--font-sans);
  }
}
