@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  --color-primary-bg: #0F0F0F;
  --color-secondary-bg: #1A1A1A;
  --color-off-white: #FFFFFF;
  --color-soft-amber: #BC9C7E;
}

@layer base {
  body {
    background-color: var(--color-primary-bg);
    color: var(--color-off-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-family: var(--font-sans);
  }
}